body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.search-box {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.lastrow {
    padding-bottom: 25px;
}

.firstrow {
    padding-top: 45px;
}

.tag {
    padding-top: 4px;
    padding-bottom: 4px;
}

.slotrow {
    padding-bottom: 15px;
}

.wider, .panel-heading, .panel-body {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar {
    min-height: 25px;
}

#search {
    margin: 5px;
    padding-bottom: 5px;
}

#brand {
    margin-bottom: 5px;
    margin-right: 5px;
}

#close {
    margin-top: 15px;
    margin-right: 15px;
}
