<div class="row">
  <div class="col-lg-12 text-center">
    <h2>10th International Modelica Conference</h2>
  </div>
  <div class="col-lg-12 text-center">
    <h5 class="pull-left">Conference Program App</h5>
    <h5 class="pull-right">Sponsored by Xogeny</h5>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default" ng-repeat="day in schedule.program">
      <div class="panel-heading">
	<h4 class="panel-title">{{day.day}}</h4>
      </div>
      <div class="panel-body">
	<div class="row">
	  <div class="col-xs-2">
	    <h5>Time</h5>
	  </div>
	  <div class="col-xs-8">
	    <h5>Description</h5>
	  </div>
	  <div class="col-xs-2">
	    <h5>Room</h5>
	  </div>
	</div>
	<div class="row" ng-repeat="slot in day.slots">
	  <div class="col-xs-2">
	    {{slot.time}}
	  </div>
	  <div class="col-xs-8">
	    <div ng-repeat="session in slot.sessions">
	      {{session.name}}
	    </div>
	  </div>
	  <div class="col-xs-2">
	    <div ng-repeat="session in slot.sessions">
	      {{session.room}}
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
