<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div id="search" class="form-group search-box">
    <input type="text" class="form-control" placeholder="Search Term (e.g., Xogeny)"
	   ng-model="searchTerm">
  </div>
</nav>

<div class="row firstrow">
  <div class="col-lg-12 text-center">
    <h3>10th International Modelica Conference</h3>
    <h4>Conference Schedule App</h4>
  </div>
</div>
<div class="row lastrow">
  <div class="col-xs-12 wider">
    <div class="panel-group">
      <div class="panel panel-default" ng-repeat="day in schedule.program">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#days" href="#day-{{day.day}}">
	      {{day.day}}
	    </a>
	  </h4>
	</div>
	<div id="day-{{day.day}}" class="panel-collapse collapse in">
	  <div class="panel-body" ng-hide="showDay(day)">
	    Nothing on this day matches your search criteria.
	  </div>
	  <div class="panel-body" ng-show="showDay(day)">
	    <table class="table table-responsive table-condensed">
	      <thead><th>Time</th><th></th><th>Description</th><th>Room</th></thead>
	      <tbody ng-repeat="slotid in day.slots | filter:showSlot">
		<tr ng-repeat="session in slist = schedule['slots'][slotid].sessions | filter:showSession">
		  <td ng-show="$first" rowspan="{{slist.length}}">
		      <span ng-bind-html="schedule['slots'][slotid].time"></span>
		      <br>
		      <a class="btn btn-default btn-xs" ng-click="choices[slotid]=null">clear</a>
		  </td>
		  <td>
		    <span>
		      <input type="radio" name="{{slotid}}"
			     ng-value="session[3]" ng-model="choices[slotid]">
		    </span>
		  </td>
		  <td>
		    <span>
		      <a href="#/session/{{session}}"
			 ng-show="schedule['sessions'][session].papers.length>0">
			{{schedule["sessions"][session].name}}
		      </a>
		      <span ng-show="schedule['sessions'][session].papers.length==0">
			{{schedule["sessions"][session].name}}
		      </span>
		    </span>
		    <br>
		    <div class="btn-group" ng-show="anyDisposition(session)">
		      <button ng-repeat="pnum in schedule['sessions'][session].papers"
			      style="width: 50px"
			      ng-class="{'btn-success': disposition[pnum]=='attend',
					 'btn-info': disposition[pnum]=='interesting',
					 'btn-default': disposition[pnum]==null}"
			      class="btn btn-xs">
			<span>&nbsp;</span>
			<!--
			<span ng-show="disposition[pnum]=='attend'">Attend</span>
			<span ng-show="disposition[pnum]==null">Neutral</span>
			-->
		      </button>
		    </div>
		  </td>
		  <td>
		    {{schedule["sessions"][session].room}}
		  </td>
		</tr>
	      </tbody>
	    </table>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  &nbsp;
</div>

<div class="modal fade" id="xogenyInfo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">&times;
	</button>
	<h4 class="modal-title">Brought to you by Xogeny</h4>
      </div>
      <div class="modal-body">
	<img class="img-responsive" src="images/LogoAndName.png">
	<br>
	<p class="lead">
	  Developers of web-based engineering applications and proud
	  supporters of the Modelica community.
	</p>
	<p class="lead">
	  For more information about Xogeny, please visit
	  our <a href="http://www.xogeny.com">web site</a>, check
	  out our <a href="http://blog.xogeny.com/">corporate blog</a>
	  or <a href="http://www.twitter.com/xogeny">follow us on
	  twitter</a>.
	</p>
      </div>
      <div class="modal-footer">
	<p class="text-center">
	  This application is offered free of charge to the Modelica
	  community.  Special thanks to Dietmar Winkler for inspiration
	  and encouragement.
	</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="tag pull-right">
    <p id="brand" class="lead">
      Created by <a data-toggle="modal" data-target="#xogenyInfo">Xogeny</a>&nbsp;&nbsp;
    </p>
  </div>
</nav>
