<div class="row">
  <div class="col-lg-12 text-center">
    <h2>10th International Modelica Conference</h2>
    <h4>Conference Schedule App</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel-group">
      <div class="panel panel-default" ng-repeat="day in schedule.program">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#days" href="#day-{{day.day}}">
	      {{day.day}}
	    </a>
	  </h4>
	</div>
	<div id="day-{{day.day}}" class="panel-collapse collapse in">
	  <div class="panel-body" ng-hide="showDay(day)">
	    Nothing on this day matches your search criteria.
	  </div>
	  <div class="panel-body" ng-show="showDay(day)">
	    <div class="row">
	      <div class="col-xs-2">
		<h5>Time</h5>
	      </div>
	      <div class="col-xs-8">
		<h5>Description</h5>
	      </div>
	      <div class="col-xs-2">
		<h5>Room</h5>
	      </div>
	    </div>
	    <div class="slotrow row" ng-repeat="slot in day.slots | filter:showSlot">
	      <div class="col-xs-2">
		{{slot.time}}
	      </div>
	      <div class="col-xs-8">
		<div ng-repeat="session in slot.sessions | filter:showSession">
		  <div>
		    <span>
		      <input type="radio" name="{{slot.id}}"
			     ng-value="session[3]" ng-model="userdata['choices'][slot.id]">
		    </span>
		    <span>
		      <a href="#/session/{{session}}">
			{{schedule["sessions"][session].name}}
		      </a>
		    </span>
		  </div>
		</div>
	      </div>
	      <div class="col-xs-2">
		<div ng-repeat="session in slot.sessions | filter:showSession">
		  {{schedule["sessions"][session].room}}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="form-group search-box">
    <input type="text" class="form-control" placeholder="Search Term" ng-model="searchTerm">
    <span class="tag pull-left">Sponsored by <a href="http://www.xogeny.com/">Xogeny</a></span>
    <span class="tag pull-right">Web-based Engineering Applications</span>
  </div>
</nav>
