<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="form-group">
    <a class="btn pull-left" href="#">
      <span class="glyphicon glyphicon-th-list"></span>
      &nbsp;Back
    </a>
    <a class="btn pull-right" ng-show="searchTerm!=''" ng-click="searchTerm=''">
      Clear Search&nbsp;
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </div>
</nav>

<div class="row firstrow lastrow">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title text-center">{{session.name}}</h4>
      </div>
      <div class="panel-body">
	<div class="pull-right">
	  <button class="btn btn-success"
		  ng-click="choices[slot]=null"
		  ng-show="slot+'-'+choices[slot]==id">
	    <span class="glyphicon glyphicon-check"></span>&nbsp;Unselect
	  </button>
	  <button ng-hide="choices[slot]==null || slot+'-'+choices[slot]==id"
		  class="btn btn-warning" ng-click="choices[slot]=id[3]"
		  id="switch"
		  data-toggle="tooltip"
		  data-title="Dummy">
	    Switch
	  </button>
	  <button ng-show="choices[slot]==null"
		  class="btn btn-primary" ng-click="choices[slot]=id[3]">
	    Select
	  </button>
	</div>
	<p class="lead">Time: <span ng-bind-html="slots[slot].time"></span></p>
	<p class="lead">Room: {{session.room}}</p>

	<div class="panel-group" id="accordion">
	  <div ng-repeat="pnum in session.papers | filter:showPaper"
	       class="panel panel-default"
	       ng-class="{'panel-success': disposition[pnum]==ATTEND,
			  'panel-warning': disposition[pnum]==CHAIRING,
			  'panel-danger': disposition[pnum]==PRESENTING,
			  'panel-info': disposition[pnum]==INTERESTING,
			  'panel-default': disposition[pnum]==NEUTRAL}">
	    <div class="panel-heading">

	      <h4 class="panel-title">
		<a data-toggle="collapse"
		   data-parent="#accordion"
		   href="#paper-{{pnum}}">
		  {{papers[pnum].title}}
		</a>
	      </h4>

	    </div>
	    <div id="paper-{{pnum}}" class="panel-collapse collapse out">
	      <div class="panel-body">
		<table class="table table-condensed">
		  <thead>
		    <tr>
		      <th>
			Authors
			<div class="pull-right">
			  <span class="btn btn-default btn-xs btn-success"
				ng-show="disposition[pnum]==ATTEND">
			    Attend
			  </span>
			  <span class="btn btn-default btn-xs btn-info"
				ng-show="disposition[pnum]==INTERESTING">
			    Interesting
			  </span>
			  <span class="btn btn-default btn-xs btn-danger"
				ng-show="disposition[pnum]==PRESENTING">
			    Presenting
			  </span>
			  <span class="btn btn-default btn-xs btn-warning"
				ng-show="disposition[pnum]==CHAIRING">
			    Chairing
			  </span>
			  <div class="btn-group">
			    <button data-toggle="dropdown"
				    class="btn btn-xs btn-default dropdown-toggle"
				    type="button" id="btnGroupVerticalDrop1">
			      Impression
			      <span class="caret"></span>
			    </button>
			    <ul aria-labelledby="btnGroupVerticalDrop1" role="menu"
				class="dropdown-menu">
			      <li>
				<a class="btn-success btn-xs"
				   ng-click="disposition[pnum]=ATTEND">
				  Attend
				</a>
			      </li>
			      <li>
				<a class="btn-info btn-xs"
				   ng-click="disposition[pnum]=INTERESTING">
				  Interesting
				</a>
			      </li>
			      <li>
				<a class="btn-danger btn-xs"
				   ng-click="disposition[pnum]=PRESENTING">
				  Presenting
				</a>
			      </li>
			      <li>
				<a class="btn-warning btn-xs"
				   ng-click="disposition[pnum]=CHAIRING">
				  Chairing
				</a>
			      </li>
			      <li>
				<a class="btn-default btn-xs" ng-click="disposition[pnum]=null">
				  Clear
			        </a>
			      </li>
			    </ul>
			  </div>
			</div>
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="author in papers[pnum].authors"><td>{{author}}</td></tr>
		  </tbody>
		</table>
		<dl>
		  <dt>Keywords</dt>
		  <dd>{{papers[pnum].keywords.join(', ')}}</dd>
		</dl>
		{{papers[pnum].abstract}}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="tag pull-right">
    <p id="brand" class="lead">
      Created by <a data-toggle="modal" data-target="#xogenyInfo">Xogeny</a>&nbsp;&nbsp;
    </p>
  </div>
</nav>
