<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="form-group search-box">
    <a class="btn pull-left" href="#">
      <span class="glyphicon glyphicon-th-list"></span>
      &nbsp;Return to conference program
    </a>
  </div>
</nav>
<!--
<div class="row">
  <div class="col-xs-12">
    <p>
      <a class="btn pull-left" href="#">
	<span class="glyphicon glyphicon-th-list"></span>
	&nbsp;Return to conference program
      </a>
    </p>
  </div>
</div>
-->
<div id="session" class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title text-center">{{session.name}}</h4>
      </div>
      <div class="panel-body">
	<div class="pull-right">
	  <button class="btn btn-success"
		  ng-show="slot+'-'+choices[slot]==id">
	    <span class="glyphicon glyphicon-check"></span>&nbsp;Selected
	  </button>
	  <button ng-hide="choices[slot]==null || slot+'-'+choices[slot]==id"
		  class="btn btn-warning" ng-click="choices[slot]=id[3]"
		  id="switch"
		  data-toggle="tooltip"
		  data-title="Dummy">
	    Switch
	  </button>
	  <button ng-show="choices[slot]==null"
		  class="btn btn-primary" ng-click="choices[slot]=id[3]">
	    Select
	  </button>
	</div>
	<p class="lead">Time: {{slots[slot].time}}</p>
	<p class="lead">Room: {{session.room}}</p>

	<div class="panel-group" id="accordion">
	  <div ng-repeat="pnum in session.papers | filter:showPaper"
	       class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion" href="#paper-{{pnum}}">
		  {{papers[pnum].title}}
		</a>
	      </h4>
	    </div>
	    <div id="paper-{{pnum}}" class="panel-collapse collapse out">
	      <div class="panel-body">
		<table class="table table-condensed">
		  <thead>
		    <tr><th>Authors</th></tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="author in papers[pnum].authors"><td>{{author}}</td></tr>
		  </tbody>
		</table>
		<dl>
		  <dt>Keywords</dt>
		  <dd>{{papers[pnum].keywords.join(', ')}}</dd>
		</dl>
		{{papers[pnum].abstract}}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="form-group search-box">
    <input type="text" class="form-control" placeholder="Search Term" ng-model="searchTerm">
    <span class="tag pull-left">Created by <a href="http://www.xogeny.com/">Xogeny</a></span>
  </div>
</nav>
